<div class="container-fluid footer px-4 py-4 text-white">
  <div class="row align-items-center">
    <!-- Left Column -->
    <div class="col-md-6 text-center text-md-start mb-0 mb-md-0">
      <p class="mb-0 footer-text">© 2025 Cafè Lait · Developed by Raashid Khan</p>
    </div>

    <!-- Right Column -->
    <div class="col-md-6 py-4 text-center text-md-end">
      <ul class="list-inline mb-0 footer-links">
        <li class="list-inline-item"><a routerLink="/terms">Terms & Conditions</a></li>
        <li class="list-inline-item"><a routerLink="/privacypolicy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>