.card {
  background-color: #f8f5f2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 16px;
  overflow: hidden; /* Prevent overflow */
  margin-bottom: 16px;
}

.card img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.card h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #3e2723;
  text-transform: uppercase;
}

.card p {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  color: #5d4037;
}

.card .btn {
  background-color: #6d4c41;
  border: none;
  font-family: 'Lora', serif;
  color: #fff;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #4e342e;
}
