<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" style="background-color:  #c2b19cb4;">

  <div class="carousel-inner text-center"> <!-- Add text-center to center the image -->
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="assets/Banner 1.png" alt="Banner 1" width="1280" height="720" style="display: inline-block;" />
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets/Banner 2.png" alt="Banner 2" width="1280" height="720" style="display: inline-block;" />
    </div>

    <div class="carousel-item" data-bs-interval="5000">
      <img src="assets/Banner 3.png" alt="Banner 3" width="1280" height="720" style="display: inline-block;" />
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>
