h1{
  font-family: Playfair;
  text-align: center;
  font-size: 60px;
  color: #3e2723;
}

p{
  font-family: Lora;
  line-height: 40px;
  font-size: large;
  color: #5d4037;
}

h2{
  font-family: Playfair;
  font-size: 35px;
  color: #3e2723;
}

li{
  font-family: Lora;
  line-height: 40px;
  font-size: large;
  color: #5d4037;
}
