/* You can add global styles to this file, and also import other style files */
body {
  background-image: ('assets/Background.jpg');
  background-size: cover;          /* Make it cover the entire viewport */
  background-position: center;     /* Center the image */
  background-repeat: no-repeat;    /* Prevent tiling */
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}